body {
    margin: 0;
    background: linear-gradient(#2612aa, #2612aa 85%);
    font-family: Arial, sans-serif;
}

.h1_1 {
    text-align: center;
    font-weight: bolder;
    color: rgb(58, 58, 58);
    font-size: 50px;
    margin: 20px 0;
}

.Kai_grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.art-piece {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px ridge burlywood;
    padding: 10px;
    background-color: white;
}

.art-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

.art-details {
    text-align: center;
    color: aliceblue;
}

.art-name,
.art-price {
    font-weight: bolder;
    margin: 5px 0;
    color: black;
}

.art-name {
    font-size: 1em;
    color: black;
}

.art-price {
    font-size: 0.9em;
    color: black;
}
h5{
    font-family: 'Codystar' , sans-serif;
    color: aliceblue;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
}

.snowfall {
    position: absolute;
    z-index: -1;
    inset: 0;
    overflow: hidden;
    background: linear-gradient(#1090d0, #2612aa 85%);
}

.snow {
    --small: 3px;
    --medium: 7px;
    --large: 15px; 
    width: var(--small);
    height: var(--small);
    position: absolute;
    background-color: aliceblue;
    border-radius: 50%;
    animation: snow 6s linear infinite, wind 10s ease-in-out infinite;
    top: -10%;
}


.snow:nth-child(5n+1) {
    width: var(--large);
    height: var(--large);
}

.snow:nth-child(3n+2) {
    width: var(--small);
    height: var(--small);
}

.snow:nth-child(2n+3) {
    width: var(--medium);
    height: var(--medium);
}


.snow:nth-child(1) { left: 10%; animation-delay: 0.5s; }
.snow:nth-child(2) { left: 20%; animation-delay: 1s; }
.snow:nth-child(3) { left: 30%; animation-delay: 1.5s; }
.snow:nth-child(4) { left: 40%; animation-delay: 2s; }
.snow:nth-child(5) { left: 50%; animation-delay: 2.5s; }
.snow:nth-child(6) { left: 60%; animation-delay: 3s; }
.snow:nth-child(7) { left: 70%; animation-delay: 3.5s; }
.snow:nth-child(8) { left: 80%; animation-delay: 4s; }
.snow:nth-child(9) { left: 90%; animation-delay: 4.5s; }
.snow:nth-child(10) { left: 15%; animation-delay: 5s; }
.snow:nth-child(11) { left: 25%; animation-delay: 5.5s; }
.snow:nth-child(12) { left: 35%; animation-delay: 6s; }
.snow:nth-child(13) { left: 45%; animation-delay: 6.5s; }
.snow:nth-child(14) { left: 55%; animation-delay: 7s; }
.snow:nth-child(15) { left: 65%; animation-delay: 7.5s; }
.snow:nth-child(16) { left: 75%; animation-delay: 8s; }
.snow:nth-child(17) { left: 85%; animation-delay: 8.5s; }
.snow:nth-child(18) { left: 95%; animation-delay: 9s; }
.snow:nth-child(19) { left: 20%; animation-delay: 9.5s; }
.snow:nth-child(20) { left: 30%; animation-delay: 10s; }


@keyframes snow {
    100% {
        top: 100%; 
    }
}


@keyframes wind {
    50% {
        transform: translateX(120px); 
    }
}

